<h1 class="mt-4 mb-3">Dashboard</h1>
<h1 class="lead mb-5">Welcome Employer <%= user.name %></h1>
<div class="jumbotron">
  <h2 class="mb-3">User Info:</h2>
  <ul class="list-group list-group-flush mb-5">
    <% Object.keys(user.userInfo).filter(key => key !== "videoResume").forEach(key => { %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-2 text-capitalize font-weight-bold"><%= key.replace("_", " ") %></div>
          <div class="col-sm-10"><%= user.userInfo[key] %></div>
        </div>
      </li>
    <% }) %>
  </ul>
  <% if (user.userInfo.verified) { %>
    <h2 class="mb-3">Applicants:</h2>
    <div class="container">
      <% applicants.forEach(applicant => { %>
        <ul class="list-group list-group-flush mb-5">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2 text-capitalize font-weight-bold">Name</div>
              <div class="col-sm-10"><%= applicant["name"] %></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2 text-capitalize font-weight-bold">Email</div>
              <div class="col-sm-10"><%= applicant["email"] %></div>
            </div>
          </li>
          <% Object.keys(applicant.userInfo).filter(key => key !== "videoResume").forEach(key => { %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-2 text-capitalize font-weight-bold"><%= key %></div>
                <div class="col-sm-10"><%= applicant.userInfo[key] %></div>
              </div>
            </li>
          <% }) %>
          <% if (applicant.userInfo.videoResume) { %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-2 text-capitalize font-weight-bold">Video Resume</div>
                <div class="col-sm-10"><a href="<%= applicant.userInfo['videoResume'] %>" target="_blank" rel="noopener noreferrer">Video Resume Clip</a></div>
              </div>
            </li>
          <% } %>
        </ul>
      <% }) %>
    </div>
  <% } else { %>
    <h2 class="mb-3">Sorry you're not verified yet ;(</h2>
  <% } %>
  <a href="/users/logout" class="btn btn-danger btn-lg mt-5">Logout</a>
</div>
